<h2>イベント一覧</h2>
<% @events.each do |event| %>
<div>
  <%=  %>
  <%= event.title %>
  <%= event.body %>
  
  <% if event.user == current_user %>
  <%= link_to "削除",event_path(event),method: :delete %>
  <% end %>
</div>
<% end %>