// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slideshow_height{
  height: 500px;
}
.image1 {
  background-image: image-url("detail_f9a8f734-5eb1-45be-9a56-b1347347681e.jpeg");
}
.image2 {
  background-image: image-url("ph-aboutdance2.jpg");
}
.image3 {
  background-image: image-url("MT1_0697.jpg.webp");
}
.image4 {
  background-image: image-url("g-hiphop.jpeg");
}
.image5 {
  background-image: image-url("g-punking.jpeg");
}

// トップ画面

// トップ画面

//説明画面
.introduction{
}
// 説明
.sample_h_4{
font-size: 1.5em;/* フォントサイズ */
font-weight: bold;/* フォント太さ */
padding-top: 1em;
padding-bottom: 1em;
margin-bottom: 2em;
border-top: 3px solid #3f9613;/* 上の線 */
border-bottom: 3px solid #409614;/* 下の線 */
color: #409614;/* フォント色 */
text-align: center;/* テキストの位置 */
}
// メイン画面
.top-main{
}
.top-event{
display: flex;
flex-wrap:wrap;
justify-content:center;
justify-content:space-between;
}

.event{
 width: 250px;
 background-color:white;
 margin-bottom:20px;
}
.event-left{
  text-align: center;
}

