<%= render 'layouts/sidemenu'%>
<div class="container">
  <div class="col-md-8">
  <div class="d-flex align-items-center justify-content-center" style="height:70vh;">
    <h2 >メールを送信しました！</h2>
  </div>
  </div>
</div>