<table>
  <caption>ブックマーク一覧</caption>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.event.user.name %></td>
        <td>
          <%= link_to event_path(bookmark.event) do %>
            <%= bookmark.event.title %>
          <% end %>
        </td>
        <td><%= bookmark.event.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>