<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center" >
        <p class="text-secondary text-white">@CopyRight SUNRIZE<p>
        <%= link_to 'お問い合わせ・ご意見',new_contact_path ,class: 'text-white' %>
      </div>
    </div>
  </div>
</footer>