<div class="side-menu">
        
  <div class="side-chunk">
    <div class="serch-side">
      <div class="search">
        <%= render 'layouts/search' %>
      </div>
    </div>
    
    <div class="background">
      <div class="background-image6">
        <div class="side-image"></div>
      </div>
    </div>
    
    <h1 id="heading05" class="mt-4">メニュー</h1>
    <h3><strong><%= link_to "イベント一覧",root_path, class: 'nav-link text-dark' %></strong></h3>
    <h3><strong><%= link_to "グループ一覧" ,groups_path, class: 'nav-link text-dark' %></strong></h3>
  </div>

</div>